/* ----------------------------------------------- */
/** || Reusable Styles */
/* ----------------------------------------------- */
:root {
    accent-color: var(--clr-secondary);
}

* {
    box-sizing: border-box;
    color: var(--clr-font);
    font-family: var(--ff-general) !important;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-primary);
}

/** sections */
header,
section,
footer {
    margin: 0 5.660%;
}

section {
    margin-bottom: 55px;
}

button {
    cursor: pointer;
    padding: 0;
}

/** headings */
h1,
h2 {
    font-weight: var(--fw-bold);
}

h1 {
    font-size: var(--fs-small-40);
    margin-bottom: 10px;
}

h2 {
    font-size: var(--fs-small-20);
    margin-bottom: 20px;
}

/** horizontal rule */
hr {
    border: none;
    border-bottom: .5px solid var(--clr-border);
    ;
}

/** hidden scroll style */
.scroll-hidden {
    overflow: hidden;
}

dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.5);
}

.disabled-slider {
    transform: translate3d(0px, 0, 0) !important;
    -webkit-transform: translate3d(0px, 0, 0) !important;
    -moz-transform: translate3d(0px, 0, 0) !important;
    -ms-transform: translate3d(0px, 0, 0) !important;
    -o-transform: translate3d(0px, 0, 0) !important;
}

.photo-profile {
    width: 30px;
    clip-path: circle();
}

.fullname {
    font-size: var(--fs-small-12);
    font-weight: var(--fw-bold);
    margin-right: 15px;
}

.expand {
    cursor: pointer;
    margin-right: 0;
}

/** modal burger menu */
.modal-menu {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border: none;
    background-color: var(--clr-primary);
    margin: 0;
}

.modal-menu>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-menu h1 {
    font-size: var(--fs-small-20);
    margin-bottom: 0;
}

.modal-menu>div:first-child>svg {
    cursor: pointer;
}

nav>a {
    text-decoration: none;
    font-size: var(--fs-small-16);
}

.modal-menu>div:last-child>form>button {
    background-color: transparent;
    border: none;
    font-size: var(--fs-small-16);
    position: relative;
}

.modal-menu>div:last-child>form {
    position: absolute;
    width: calc(100% - 32px);
    bottom: 82px;
}

/** ----------- */

/** modal login & modal register */
.modal {
    margin-bottom: 0;
}

.modal-login,
.modal-register,
.modal-request {
    border: none;
    width: calc(100% - 32px);
    max-width: calc(100% - 32px);
    background-color: var(--clr-primary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 22px;
}

.modal-login>div:first-child,
.modal-register>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-login h1,
.modal-register h1 {
    margin-bottom: 0;
    font-size: var(--fs-small-20);
}

.modal-login>div:first-child>svg,
.modal-register>div:first-child>svg,
.modal-request>div:first-child>svg {
    cursor: pointer;
}

.modal-register>form>div,
.modal-login>form>div,
.modal-register>form>div>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.modal-register>form>div>label,
.modal-login>form>div>label,
.modal-register>form>div>div>label,
.gender-field>p {
    margin-bottom: 5px;
    font-size: var(--fs-small-14);
}

.fullname-group>div:last-child {
    margin-bottom: 0;
}

input,
textarea {
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    border: 1.7px solid var(--clr-border);
}


.gender-field>div {
    flex-direction: row !important;
}

.gender-field>div>div:first-child {
    margin-right: 15px;
}

button[type="submit"] {
    margin-bottom: 20px;
    background-color: var(--clr-initial-btn);
    border: 2px solid var(--clr-border);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 3px 8px;
    transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -ms-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
    font-size: var(--fs-small-14);
}

button[type="submit"]:hover {
    background-color: var(--clr-secondary);
}

.modal-login>p,
.modal-register>p {
    font-size: var(--fs-small-12);
    font-weight: var(--fw-regular);
}

.modal-login>p>span,
.modal-register>p>span {
    cursor: pointer;
    color: var(--clr-new);
    transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
}

.modal-login>p>span:hover,
.modal-register>p>span:hover {
    color: var(--clr-font);
}

/** ----------- */

/** menu-drop-down Section */

.menu-drop-down {
    margin-bottom: 0;
    background: var(--menu-drop-down);
    width: 150px;
    height: 200px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    right: 0;
}

.menu-drop-down * {
    color: var(--clr-primary);
    font-size: var(--fs-laptop-14);
}

.menu-drop-down>div>a:link,
.menu-drop-down>div>a:visited {
    text-decoration: none;
}

.menu-drop-down>form>button {
    background-color: transparent;
    border: none;
}

/** ----------- */

/** header */
header {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>div {
    display: flex;
    align-items: center;
}

header>button {
    background-color: transparent;
    border: none;
}

header>div>button {
    font-size: var(--fs-small-12);
    background-color: transparent;
    border: none;
    font-weight: var(--fw-bold);
}

/** ----------- */

/** hero-text-box Section */
.hero-text-box {
    margin-top: 20px;
}

.hero-text-box>div {
    margin-bottom: 35px;
}

.hero-text-box>div>img {
    width: 100%;
}

.hero-text-box>div>div>h1 {
    font-family: var(--ff-headline) !important;
}

.hero-text-box>div>div>p {
    font-size: var(--fs-small-14);
    font-weight: var(--fw-regular);
    line-height: 135%;
}

.hero-text-box>div:last-child {
    display: flex;
    justify-content: center;
}

.hero-text-box>div:last-child>a:link,
.hero-text-box>div:last-child>a:visited {
    border: 2px solid var(--clr-border);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 20px;
    padding: 12px 15px;
    cursor: pointer;
    box-sizing: content-box;
    transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -ms-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
}

.hero-text-box>div:last-child>a:hover,
.hero-text-box>div:last-child>a:active {
    background-color: var(--clr-secondary);
}

/** ----------- */

/** recommended Section */
.swiper {
    position: relative;
}

.swiper-slide {
    border: none;
    background-color: transparent;
}

.swiper-slide>.card>p:last-child {
    transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
}

.swiper-slide:hover>.card>p:last-child {
    color: var(--clr-free);
}

.card>img {
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
}

.card>p {
    font-size: var(--fs-small-16);
    font-weight: var(--fw-bold);
    margin-bottom: 5px;
    text-align: start;
}

.view {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.view>svg {
    margin-right: 5px;
}

.view>p,
.card>p:last-child {
    font-size: var(--fs-small-10);
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
    color: var(--clr-border);
    font-size: 30px;
}

.swiper-pagination {
    position: absolute;
    bottom: 0 !important;
}

/** ----------- */

/** categories Section */
.categories {
    min-height: 100vh;
}

.categories>h2 {
    margin-bottom: 15px;
}

.categories>p {
    font-size: var(--fs-small-14);
    font-weight: var(--fw-regular);
    margin-bottom: 20px;
}

.category-slider {
    margin-bottom: 25px;
}

.category-slider button {
    font-size: var(--fs-small-10);
    background-color: var(--clr-initial-btn);
    border: 1px solid var(--clr-border);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 4px 15px;
    width: max-content !important;
    transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -ms-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
}

.category-slider button:hover {
    background-color: var(--clr-secondary);
}

.lesson button {
    border: none;
    background-color: transparent;
    display: flex;
}

.lesson img {
    width: 60%;
    max-width: 178px;
    height: 100px;
    margin-right: 10px;
}

.lesson p {
    text-align: start;
}

.lesson .content>p:first-child {
    font-size: var(--fs-small-16);
    font-weight: var(--fw-bold);
    margin-bottom: 5px;
}

.lesson .content>p:last-child {
    font-size: var(--fs-small-10);
    font-weight: var(--fw-bold);
    transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
}

.lesson button:hover>.content>p:last-child {
    color: var(--clr-free);
}

/** ----------- */

/** footer */
footer {
    margin-bottom: 55px;
}

footer>p:first-child {
    font-size: var(--fs-small-14);
    font-weight: var(--fw-regular);
    line-height: 128%;
    margin-bottom: 15px;
}

footer>button {
    border: none;
    background-color: transparent;
    font-weight: var(--fw-bold);
    font-size: var(--fs-small-12);
    text-decoration: underline;
}

footer>button:hover {
    text-decoration: none;
}

footer>p:last-child {
    font-size: var(--fs-small-10);
    font-weight: var(--fw-regular);
}

/** ----------- */

/** modal request */
.modal-request>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-request h1 {
    font-size: var(--fs-small-20);
    margin-bottom: 0;
}

.topic-group,
.reason-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label[for="topic"],
label[for="reason"] {
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
    height: 200px;
}

/** ----------- */

/** ----------- */

/** At 768px Viewport */
@media (min-width: 768px) {

    /** header */
    header>div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header>div>* {
        font-size: var(--fs-laptop-14);
        margin-right: 15px;
    }

    header>div>a:first-child {
        text-decoration: none;
    }

    header>div>button {
        margin-right: 0;
        font-size: var(--fs-laptop-16);
    }

    .fullname {
        font-size: var(--fs-laptop-14);
    }

    /** ----------- */

    /** hero-text-box Section */
    .hero-text-box>div {
        display: flex;
    }

    .hero-text-box>div>img {
        order: 2;
        width: 350px;
    }

    .hero-text-box>div>div {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /** ----------- */

    /** recommended Section */
    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: block;
    }

    /** ----------- */

    /* * categories Section */
    .category-slider button {
        font-size: var(--fs-laptop-14);
    }

    .lesson>form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 20px;
        row-gap: 25px;
    }

    .lesson button {
        flex-direction: column;
    }

    .lesson img {
        width: 100%;
        max-width: none;
        height: 125px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .swiper-wrapper {
        cursor: auto !important;
    }

    /** ----------- */

    /** modal login, modal register & modal request */
    .modal-login,
    .modal-register,
    .modal-request {
        width: 400px;
    }

    .modal-register>form>.fullname-group {
        flex-direction: row !important;
        justify-content: space-between;
    }

    .modal-register>form>div>div {
        margin-bottom: 0;
    }

    /** ----------- */
}

/** ----------- */

/** At 992px Viewport */
@media (min-width: 992px) {

    /** hero-text-box Section */
    .lesson>form {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /** ----------- */

    /** footer */
    footer>p:first-child {
        width: 500px;
    }

    /** ----------- */

}

/** ----------- */

/** At 1200px Viewport */
@media(min-width:1200px) {
    /* ----------------------------------------------- */
    /** || Reusable Styles */
    /* ----------------------------------------------- */

    h2 {
        font-size: var(--fs-laptop-23);
    }


    /** hero-text-box Section */
    /* .hero-text-box>div {
        display: flex;
    }

    .hero-text-box>div>img {
        order: 2;
        width: 400px;
    }

    .hero-text-box>div>div {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-text-box>div>div>h1 {
        width: 50%;
        font-size: var(--fs-laptop-55);
    }

    .hero-text-box>div>div>p {
        width: 60%;
    } */

    /** ----------- */

    /** modal login, modal register & modal request */
    /* .modal-login,
    .modal-register,
    .modal-request {
        width: 384px;
    } */

    /** ----------- */

    /** recommended Section */
    .card>p {
        font-size: var(--fs-laptop-18);
    }

    .card>p:last-child,
    .view>p {
        font-size: var(--fs-laptop-12);
    }


    /* .swiper-button-next:after,
    .swiper-button-prev:after {
        display: block;
    } */

    /** ----------- */

    /* * categories Section */
    /* .category-slider button {
        font-size: var(--fs-laptop-14);
    }

    .lesson>form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 20px;
        row-gap: 25px;
    }

    .lesson button {
        flex-direction: column;
    }

    .lesson img {
        width: 100%;
        max-width: none;
        height: 125px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .lesson .content>p:first-child {
        font-size: var(--fs-laptop-18);
    }

    .lesson .content>p:last-child {
        font-size: var(--fs-laptop-12);
    }

    .swiper-wrapper {
        cursor: auto !important;
    } */

    /** ----------- */


}

/** ----------- */

/** At 1600px Viewport */
@media(min-width:1600px) {

    /** hero-text-box Section */
    .hero-text-box>div>div {
        width: 70%;
    }

    .hero-text-box>div>div>h1 {
        width: 450px;
    }

    .hero-text-box>div>div>p {
        width: 500px;
    }

    /** ----------- */

    /** categories Section */
    .lesson>form {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    /** ----------- */
}

/** ----------- */