/* ----------------------------------------------- */
/** || Reusable Styles */
/* ----------------------------------------------- */
* {
    box-sizing: border-box;
    color: var(--clr-font);
    font-family: var(--ff-general) !important;
}

body {
    background-color: var(--clr-primary);
}

header,
section,
footer {
    margin: 0 5.660%;
}

section {
    margin-bottom: 55px;
}

button {
    cursor: pointer;
    padding: 0;
}

/** headings */
h1 {
    font-size: var(--fs-small-40);
    font-weight: var(--fw-bold);
    margin-bottom: 10px;
}

/** header */
header {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>button {
    background-color: transparent;
    border: none;
}

header>div>button {
    font-size: var(--fs-small-12);
    background-color: transparent;
    border: none;
    font-weight: var(--fw-bold);
}
/** ----------- */

/** hero-text-box Section */
.hero-text-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.hero-text-box p {
    font-size: var(--fs-small-14);
    font-weight: var(--fw-regular);
    line-height: 135%;
    margin-bottom: 35px;
}

.hero-text-box>a {
    margin: 0 auto;
}

.hero-text-box>a:link,
.hero-text-box>a:visited {
    border: 2px solid var(--clr-border);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 20px;
    padding: 12px 15px;
    cursor: pointer;
    box-sizing: content-box;
    transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -ms-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
}

.hero-text-box>a:hover,
.hero-text-box>a:active {
    background-color: var(--clr-secondary);
}
/** ----------- */