/* ----------------------------------------------- */
/* || Custom properties */
/* ----------------------------------------------- */
:root {
    --clr-primary: hsla(127, 29%, 45%, 1);

    --clr-accent: hsla(40, 95%, 47%, 1);

    --clr-neutral-300: hsla(0, 0%, 0%, 0.5);
    --clr-neutral-800: hsla(0, 0%, 9%, 1);
    --clr-neutral-900: hsla(0, 0%, 100%, 1);

    --clr-gradient: linear-gradient(90deg, hsla(127, 29%, 45%, 1), hsla(127, 29%, 45%, 0));

    --clr-hover-button: hsl(40, 100%, 47%);

    --ff-primary: 'Open Sans', sans-serif;

    --ff-accent: var(--ff-primary);
    --ff-body: var(--ff-primary);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-300: 0.625rem;
    --fs-400: 0.9375rem;
    --fs-500: 1.125rem;
    --fs-600: 1.375rem;
    --fs-700: 1.875rem;
    --fs-800: 2.8125rem;

    --fs-short: var(--fs-300);
    --fs-body: var(--fs-400);
    --fs-title-course: var(--fs-500);
    --fs-link: var(--fs-600);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-primary-button: var(--fs-700);
    --fs-secondary-button: var(--fs-300);

}

/* ... */

/* ----------------------------------------------- */
/* || Reusable components */
/* ----------------------------------------------- */

/* Headings */
h1 {
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-bold);
}

h2 {
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-neutral-900);
}

h3 {
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-800);
    text-transform: capitalize;
}

/* Paragraph */
p {
    font-size: var(--fs-body);
    font-weight: var(--fw-light);
}

.short-copy {
    /* font-size: var(--fs-300); */
    font-weight: var(--fw-regular);
}

/* Button */
button {
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fw-regular);
}

/* Section */
section,
footer>div {
    width: 63.79400945874934%;
    margin: 3.941145559642669% auto 0 auto;
}

/* Links */
a:link,
a:visited {
    text-decoration: none;
    color: var(--clr-neutral-800);
}

/* ... */

/* || Header */
header {
    width: 100%;
    height: 70px;
    background-color: var(--clr-primary);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ... */

/* || Hero Text Box */
.hero-text-box {
    display: flex;
    background: var(--clr-gradient);
}

.hero-text-box>div {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 55px;
    border-radius: 5px 0 0 5px;
}

.hero-text-box h1 {
    text-transform: uppercase;
    line-height: 120%;
}

.hero-text-box span {
    color: var(--clr-accent);
}

.hero-text-box button {
    margin-top: 4%;
    border-radius: 10px;
    border: none;
    background-color: var(--clr-accent);
    outline: none;
    width: 39.43139678615575%;
    padding: 10px;
    text-transform: capitalize;
}

.hero-text-box button:hover {
    background-color: var(--clr-hover-button);
}

.hero-text-box>img {
    width: 350px;
}

/* ... */

/* || Recommend */
.row {
    margin-top: 2.4712%;
    display: flex;
    justify-content: space-between;
}

.row>a {
    width: 18%;
}

.card {
    width: 100%;
    /*?Which one I should use 
    If I use max-content the height thumbnail doesn't same but if I use 250px the height thumbnail same.
    */
    height: 250px;
    /* height: max-content; */
    /*? */
    display: flex;
    flex-direction: column;
}

.card>img {
    width: 100%;
    height: 50%;
}

/** accessibility concern */
/*? If I hover on the link the accessibility poor otherwise If I on the card the accessibility good */
/* .row>a:hover .content>p:last-child,
.row>a:active .content>p:last-child {
    color: var(--clr-primary);
} */
.card:hover>.content>p:last-child,
.card:active>.content>p:last-child {
    color: var(--clr-primary);
}

/** ... */

.view {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;

}

.content>p:first-child {
    font-weight: var(--fw-bold);
    margin-top: 6.248588059428879%;
    font-size: var(--fs-title-course);
}

.view>img {
    width: 5.3721%;
    margin-right: 1.7907%;
}

.view,
.content>p:last-child {
    margin-top: 3.845284959648541%;
}

.content>p:last-child {
    font-weight: var(--fw-semi-bold);
}

/* ... */

/* || Category */
.list-category {
    margin-top: 2.4712%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    height: 150px;
}

.long-copy {
    font-size: var(--fs-link);
    font-weight: var(--fw-semi-bold);
    flex-basis: 22.8171334431631%;
    padding: 20px 0 20px;
    text-align: center;
}

.list-category>a {
    flex-basis: 22.8171334431631%;
    border: 1.5px solid var(--clr-neutral-800);
}

.list-category>a:hover,
.list-category>a:active {
    border: 1.5px solid var(--clr-primary);
}

/* ... */

/* || Footer */
footer {
    background-color: var(--clr-primary);
}

footer>div {
    padding: 43px 0;
}

footer>div>p:first-child {
    line-height: 130%;
    width: 40%;
}

.link-form:link,
.link-form:visited {
    font-weight: var(--fw-bold);
    text-decoration: underline;
}

.link-form:hover,
.link-form:active {
    text-decoration: none;
}

footer>div * {
    margin-bottom: 13px;
}

.line {
    margin-bottom: 7px;
}

/* ... */