/* ----------------------------------------------- */
/* || Custom properties */
/* ----------------------------------------------- */
:root {
    --clr-primary: hsla(127, 29%, 45%, 1);

    --clr-accent: hsla(40, 95%, 47%, 1);

    --clr-neutral-300: hsla(0, 0%, 0%, 0.5);
    --clr-neutral-900: hsla(0, 0%, 9%, 1);

    --clr-gradient: linear-gradient(90deg, hsla(127, 29%, 45%, 1), hsla(127, 29%, 45%, 0));

    --ff-primary: 'Open Sans', sans-serif;

    --ff-accent: var(--ff-primary);
    --ff-body: var(--ff-primary);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-300: 0.9375rem;
    --fs-400: 1.375rem;
    --fs-500: 1.875rem;
    --fs-600: 2.8125rem;

    --fs-body: var(--fs-300);
    --fs-link: var(--fs-400);
    --fs-primary-heading: var(--fs-600);
    --fs-secondary-heading: var(--fs-500);
    --fs-primary-button: var(--fs-500);
    --fs-secondary-button: var(--fs-300);
}

/* ... */

/* ----------------------------------------------- */
/* || Reusable components */
/* ----------------------------------------------- */

/* Headings */
h1 {
    font-size: var(--fs-primary-heading);
    font-weight: var(--fw-bold);
}

h2 {
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fw-semi-bold);
}

/* Paragraph */
p {
    font-size: var(--fs-body);
    font-weight: var(--fw-light);
}

p.long-copy {
    font-size: var(--fs-link);
    font-weight: var(--fw-semi-bold);
}

/* Headings */
button {
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fw-regular);
}



/* ... */