/* ----------------------------------------------- */
/** || Reusable Styles */
/* ----------------------------------------------- */
* {
    box-sizing: border-box;
    color: var(--clr-font);
    font-family: var(--ff-general) !important;
}

body {
    background-color: var(--clr-primary);
}

/** sections */
header,
section,
footer {
    margin: 0 5.660%;
}

section {
    margin-bottom: 55px;
}

/** headings */
h1,
h2 {
    font-weight: var(--fw-bold);
}

h1 {
    font-size: var(--fs-small-20);
}

h2 {
    font-size: var(--fs-small-16);
}

button {
    cursor: pointer;
    padding: 0;
}

/** horizontal rule */
hr {
    border: none;
    border-bottom: .5px solid var(--clr-border);
    ;
}

/** hidden scroll style */
.scroll-hidden {
    overflow: hidden;
}

dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.5);
}

/** horizontal rule */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 15px;
}

header>p {
    font-size: var(--fs-small-12);
    font-weight: var(--fw-regular);
}

header>p>span::after {
    content: '/';
    margin: 0 5px;
}

a[href="index.html"] {
    text-decoration: none;
    color: var(--clr-new);
    transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
}

a[href="index.html"]:hover {
    color: var(--clr-font);
}

/** ----------- */

/** categories Section */

.category-slider {
    margin-bottom: 25px;
}

.category-slider button {
    font-size: var(--fs-small-10);
    background-color: var(--clr-initial-btn);
    border: 1px solid var(--clr-border);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 4px 15px;
    width: max-content !important;
    transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -ms-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
}

.category-slider button:hover {
    background-color: var(--clr-secondary);
}

.lesson button {
    border: none;
    background-color: transparent;
    display: flex;
}

.lesson img {
    width: 60%;
    max-width: 178px;
    height: 100px;
    margin-right: 10px;
}

.lesson p {
    text-align: start;
}

.lesson .content>p:first-child {
    font-size: var(--fs-small-16);
    font-weight: var(--fw-bold);
    margin-bottom: 5px;
}

.lesson .content>p:last-child {
    font-size: var(--fs-small-10);
    font-weight: var(--fw-bold);
}

.lesson .content>p:last-child {
    transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
}

.lesson button:hover>.content>p:last-child {
    color: var(--clr-free);
}

.view {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.view>svg {
    margin-right: 5px;
}

.view>p,
.card>p:last-child {
    font-size: var(--fs-small-10);
}

/** ----------- */