/* ----------------------------------------------- */
/** || Reusable Styles */
/* ----------------------------------------------- */
* {
    box-sizing: border-box;
    color: var(--clr-font);
    font-family: var(--ff-general) !important;
}

body {
    background-color: var(--clr-primary);
}

/** sections */
header,
section,
footer {
    margin: 0 5.660%;
}

section {
    margin-bottom: 55px;
}

/** headings */
h1,
h2 {
    font-weight: var(--fw-bold);
}

h1 {
    font-size: var(--fs-small-20);
}

button {
    cursor: pointer;
    padding: 0;
}

/** horizontal rule */
hr {
    border: none;
    border-bottom: .5px solid var(--clr-border);
    ;
}

/** hidden scroll style */
.scroll-hidden {
    overflow: hidden;
}

dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.5);
}

/** header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 15px;
}

header>p {
    font-size: var(--fs-small-12);
    font-weight: var(--fw-regular);
}

header>p>span::after {
    content: '/';
    margin: 0 5px;
}

a[href="index.html"] {
    text-decoration: none;
    color: var(--clr-new);
    transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
}

a[href="index.html"]:hover {
    color: var(--clr-font);
}

/** ----------- */

/** list notification Section */
.list-notification {
    min-height: 100vh;
}

.list-notification button {
    border: none;
    background-color: transparent;
    width: 100%;
}

img[alt="Thumbnail"] {
    width: 60%;
    max-width: 178px;
    height: 100px;
    margin-right: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content>div>p:first-child {
    text-align: start;
}

.content>div>p:last-child {
    text-align: end;
    font-size: var(--fs-small-10);
    color: var(--clr-new);
}

/** ----------- */

/** footer */
footer {
    margin-bottom: 55px;
}

footer>p:first-child {
    font-size: var(--fs-small-14);
    font-weight: var(--fw-regular);
    line-height: 128%;
    margin-bottom: 15px;
}

footer>button {
    border: none;
    background-color: transparent;
    font-weight: var(--fw-bold);
    font-size: var(--fs-small-12);
    text-decoration: underline;
}

footer>button:hover {
    text-decoration: none;
}

footer>p:last-child {
    font-size: var(--fs-small-10);
    font-weight: var(--fw-regular);
}

/** ----------- */