/* ----------------------------------------------- */
/** || Reusable Styles */
/* ----------------------------------------------- */
* {
    box-sizing: border-box;
    color: var(--clr-font);
    font-family: var(--ff-general) !important;
}

body {
    background-color: var(--clr-primary);
}

/** sections */
header,
section,
footer {
    margin: 0 5.660%;
}

section {
    margin-bottom: 55px;
}

/** headings */
h1,
h2 {
    font-weight: var(--fw-bold);
}

h1 {
    font-size: var(--fs-small-20);
}

button {
    cursor: pointer;
    padding: 0;
}

/** horizontal rule */
hr {
    border: none;
    border-bottom: .5px solid var(--clr-border);
    ;
}

/** hidden scroll style */
.scroll-hidden {
    overflow: hidden;
}

dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.5);
}

/** header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 15px;
}

header>p {
    font-size: var(--fs-small-12);
    font-weight: var(--fw-regular);
}

header>p>span::after {
    content: '/';
    margin: 0 5px;
}

a[href="index.html"] {
    text-decoration: none;
    color: var(--clr-new);
    transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
}

a[href="index.html"]:hover {
    color: var(--clr-font);
}

/** ----------- */

/** list notification Section */
.list-notification {
    min-height: 100vh;
}

.list-notification button {
    border: none;
    background-color: transparent;
    width: 100%;
}

img[alt="Thumbnail"] {
    width: 60%;
    max-width: 178px;
    height: 100px;
    margin-right: 10px;
}

.content {
    /* width: 100%; */
    display: flex;
    /* justify-content: space-between; */
}

.content>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content>div>p:first-child {
    text-align: start;
}

.content>div>p:last-child {
    text-align: end;
    font-size: var(--fs-small-10);
    color: var(--clr-new);
}

/** ----------- */

/** footer */
footer {
    margin-bottom: 55px;
}

footer>p:first-child {
    font-size: var(--fs-small-14);
    font-weight: var(--fw-regular);
    line-height: 128%;
    margin-bottom: 15px;
}

footer>button {
    border: none;
    background-color: transparent;
    font-weight: var(--fw-bold);
    font-size: var(--fs-small-12);
    text-decoration: underline;
}

footer>button:hover {
    text-decoration: none;
}

footer>p:last-child {
    font-size: var(--fs-small-10);
    font-weight: var(--fw-regular);
}

/** ----------- */

/** modal request */
.modal-request {
    border: none;
    width: calc(100% - 32px);
    max-width: calc(100% - 32px);
    background-color: var(--clr-primary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 100px;
}

.modal-request>div:first-child>svg {
    cursor: pointer;
}

.modal-request>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-request h1 {
    font-size: var(--fs-small-20);
    margin-bottom: 0;
}

.topic-group,
.reason-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label[for="topic"],
label[for="reason"] {
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
    height: 200px;
}

input,
textarea {
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    border: 1.7px solid var(--clr-border);
}

button[type="submit"] {
    margin-bottom: 20px;
    background-color: var(--clr-initial-btn);
    border: 2px solid var(--clr-border);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 3px 8px;
    transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -ms-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
    font-size: var(--fs-small-14);
}

button[type="submit"]:hover {
    background-color: var(--clr-secondary);
}

/** ----------- */

/** At 1280px Viewport */
@media(min-width:1280px) {
    /* ----------------------------------------------- */
    /** || Reusable Styles */
    /* ----------------------------------------------- */

    h1 {
        font-size: var(--fs-laptop-23);
    }

    /** list-notification Section */
    .list-notification-group {
        width: 400px;
        height: 400px;
        overflow-y: scroll;
    }

    .list-notification-group>form>button {
        margin-bottom: 20px;
    }

    .content>div>p:first-child {
        font-size: var(--fs-laptop-16);
    }

    .content>div>p:last-child {
        font-size: var(--fs-laptop-12);
    }

    /** ----------- */

    /** footer */

    footer>p:first-child {
        width: 500px;
    }

    /** ----------- */

    /** modal request */
    .modal-request {
        width: 384px;
    }

    /** ----------- */
}

/** ----------- */