/* ----------------------------------------------- */
/** || Reusable Styles */
/* ----------------------------------------------- */
* {
    box-sizing: border-box;
    color: var(--clr-font);
    font-family: var(--ff-general) !important;
}

body {
    background-color: var(--clr-primary);
}

/** sections */
header,
section,
footer {
    margin: 0 5.660%;
}

section {
    margin-bottom: 55px;
}

/** headings */
h1 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-small-20);
}

/** header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 15px;
}

header>p {
    font-size: var(--fs-small-12);
    font-weight: var(--fw-regular);
}

header>p>span::after {
    content: '/';
    margin: 0 5px;
}

a[href="index.html"] {
    text-decoration: none;
    color: var(--clr-new);
    transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
}

a[href="index.html"]:hover {
    color: var(--clr-font);
}

/** ----------- */

/** my profile Section */
.my-profile>div:first-child {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    border: none;
}

img {
    clip-path: circle();
    width: 46px;
    margin-right: 15px;
}

.my-profile>div,
.fullname-group>div:first-child {
    margin-bottom: 10px;
}

.fullname-group>div:first-child,
.my-profile>div {
    border-bottom: 1.5px solid var(--clr-border);
}

.fullname-group>div>p:first-child,
.my-profile>div>p:first-child {
    font-size: var(--fs-small-10);
    color: var(--clr-new);
    margin-bottom: 5px;
    font-weight: var(--fw-regular);
}

.fullname-group>div>p:last-child,
.my-profile>div>p:last-child {
    font-size: var(--fs-small-14);
    font-weight: var(--fw-regular);
    margin-bottom: 3px;
}

.my-profile>div:first-child>p {
    font-weight: var(--fw-bold);
}

.my-profile>div:last-child {
    margin-top: 20px;
    border: none;
    display: flex;
    align-items: center;
}

.my-profile>div:last-child>a:link,
.my-profile>div:last-child>a:visited {
    text-decoration: none;
    margin-right: 20px;
    border: 2px solid var(--clr-border);
    padding: 3px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: var(--fs-small-15);
    transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -ms-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
}

.my-profile>div:last-child>a:hover,
.my-profile>div:last-child>a:active {
    background-color: var(--clr-secondary);
}

.my-profile>div:last-child button {
    cursor: pointer;
    border: 2px solid var(--clr-border);
    background-color: transparent;
    padding: 1px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: var(--fs-small-15);
    transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -ms-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
}

.my-profile>div:last-child button:hover {
    background-color: var(--clr-secondary);
}

/** ----------- */

/** At 1280px Viewport */
@media(min-width:1280px) {
    /* ----------------------------------------------- */
    /** || Reusable Styles */
    /* ----------------------------------------------- */

    h1{
        font-size: var(--fs-laptop-23);
    }
}

/** ----------- */