/* ----------------------------------------------- */
/* || Custom properties */
/* ----------------------------------------------- */
:root {
    --clr-primary: hsla(127, 29%, 45%, 1);

    --clr-accent: hsla(40, 95%, 47%, 1);

    --clr-neutral-300: hsla(0, 0%, 0%, 0.5);
    --clr-neutral-800: hsla(0, 0%, 9%, 1);
    --clr-neutral-900: hsla(0, 0%, 100%, 1);

    --clr-gradient: linear-gradient(90deg, hsla(127, 29%, 45%, 1), hsla(127, 29%, 45%, 0));

    --clr-hover-button: hsl(40, 100%, 47%);

    --ff-primary: 'Open Sans', sans-serif;

    --ff-accent: var(--ff-primary);
    --ff-body: var(--ff-primary);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-300: 0.625rem;
    --fs-400: 0.9375rem;
    --fs-500: 1.125rem;
    --fs-600: 1.375rem;
    --fs-700: 1.875rem;
    --fs-800: 2.8125rem;

    --fs-short: var(--fs-300);
    --fs-body: var(--fs-400);
    --fs-title-course: var(--fs-500);
    --fs-link: var(--fs-600);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-primary-button: var(--fs-700);
    --fs-secondary-button: var(--fs-300);

}

/* ... */
/* ----------------------------------------------- */
/* || Reusable components */
/* ----------------------------------------------- */
/* html */
html {
    font-family: var(--ff-body);
}

/* Heading */
h1 {
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-neutral-900);
}

/* Paragraph */
p {
    font-size: var(--fs-body);
    font-weight: var(--fw-light);
}

.short-copy {
    font-weight: var(--fw-regular);
}

/* Span */
.link-active {
    color: var(--clr-neutral-300);
}

/* Container */
section,
div,
footer>div {
    width: 63.79400945874934%;
    margin: auto;
}

section,
footer>div {
    margin-top: 3.941145559642669%;
}

/* Links */
a:link,
a:visited {
    text-decoration: none;
    color: var(--clr-neutral-300);
}

/* ... */

/* || Header */
header {
    background-color: var(--clr-primary);
}

header>div {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.link-active:hover,
.link-active:active {
    color: var(--clr-neutral-800);
}

header span::after {
    content: '/';
    display: inline-block;
    margin: 0 5px;
}

/* ... */