/* ----------------------------------------------- */
/** || Reusable Styles */
/* ----------------------------------------------- */
* {
    box-sizing: border-box;
    color: var(--clr-font);
    font-family: var(--ff-general) !important;
}

body {
    background-color: var(--clr-primary);
}

/** sections */
header,
section {
    margin: 0 5.660%;
}

section {
    margin-bottom: 55px;
}

button {
    cursor: pointer;
    padding: 0;
}

/** headings */
h1,
h2,
h3 {
    font-weight: var(--fw-bold);
}

h2 {
    font-size: var(--fs-small-20);
}

h1 {
    font-size: var(--fs-small-18);
    margin-top: 20px;
    margin-bottom: 5px;
}

h3 {
    font-size: var(--fs-small-18);
    margin-bottom: 20px;
}

.disabled-slider {
    transform: translate3d(0px, 0, 0) !important;
    -webkit-transform: translate3d(0px, 0, 0) !important;
    -moz-transform: translate3d(0px, 0, 0) !important;
    -ms-transform: translate3d(0px, 0, 0) !important;
    -o-transform: translate3d(0px, 0, 0) !important;
}

button:disabled,
button[disabled] {
    background-color: #ada9a8 !important;
    border-color: #ada9a8 !important;
    color: white;
    cursor: default;
}

/** header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 15px;
}

header>p {
    font-size: var(--fs-small-12);
    font-weight: var(--fw-regular);
}

header>p>span::after {
    content: '/';
    margin: 0 5px;
}

a[href="index.html"] {
    text-decoration: none;
    color: var(--clr-new);
    transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
}

a[href="index.html"]:hover {
    color: var(--clr-font);
}

/** ----------- */

/** lesson Section */
.lesson {
    display: flex;
    flex-direction: column;
}

.lesson>div:first-child {
    margin-bottom: 55px;
}

iframe {
    width: 100%;
    height: 200px;
}

.views {
    font-size: var(--fs-small-10);
    margin-bottom: 10px;
}

.desc {
    font-size: var(--fs-small-12);
    line-height: 130%;
    margin-bottom: 20px;
}

.add-lesson-btn {
    margin-bottom: 30px;
}

.add-lesson-btn>button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: var(--fs-small-14);
}

.add-lesson-btn>button>svg {
    margin-right: 5px;
}

.total-comments {
    font-size: var(--fs-small-12);
    margin-bottom: 5px;
}

.give-comment {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.give-comment>img {
    width: 30px;
    clip-path: circle();
    margin-right: 10px;
}

.give-comment>form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.give-comment>form>input {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 3px 4px;
    border-bottom: 2px solid var(--clr-border);
}

.give-comment>form>div {
    position: relative;
    display: none;
}

.give-comment>form>div>button {
    position: absolute;
    font-size: var(--fs-small-12);
    padding: 2px 5px;
    background-color: var(--clr-initial-btn);
    border: 2px solid var(--clr-border);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -ms-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
}

.give-comment>form>div>button:hover {
    background-color: var(--clr-secondary);
}

.give-comment>form>div>button:first-child {
    right: 85px;
    bottom: -35px;
}

.give-comment>form>div>button:last-child {
    right: 0;
    bottom: -35px;
}

.list-comment {
    max-height: 700px;
    overflow-y: scroll;
}

.list-comment>div {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;
}

.list-comment>div:last-child {
    margin-bottom: 0;
}

.list-comment>div>img {
    width: 30px;
    clip-path: circle();
    margin-right: 5px;
}

.data>p:first-child {
    font-size: var(--fs-small-11);
    margin-bottom: 5px;
}

.data>p:first-child>span {
    font-size: var(--fs-small-10);
    color: var(--clr-new);
}

.data>p:last-child {
    font-size: var(--fs-small-12);
    line-height: 125%;
}

.card {
    background-color: transparent;
    border: none;
}

.card>img {
    width: 100%;
    height: 140px;
}

.card>p {
    text-align: start;
    font-size: var(--fs-small-16);
    font-weight: var(--fw-bold);
}

.card>div {
    display: flex;
    align-items: center;
}

.card>div>svg {
    margin-right: 5px;
}

.card>div>p {
    font-size: var(--fs-small-10);
}

.card>p:last-child {
    font-size: var(--fs-small-10);
    transition: color .2s ease-in;
    -webkit-transition: color .2s ease-in;
    -moz-transition: color .2s ease-in;
    -ms-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
}

.card:hover>p:last-child {
    color: var(--clr-free);
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
    color: var(--clr-border);
    font-size: 30px;
}

.swiper-pagination {
    position: absolute;
    bottom: 0 !important;
}

/** ----------- */

/** At 768px Viewport */
@media(min-width:768px) {

    /** header */
    header>p {
        font-size: var(--fs-laptop-14);
    }

    /* ******** */

    /** lesson Section */
    iframe {
        height: 400px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: block;
    }

    /** ----------- */
}

/** ----------- */

/** At 992px Viewport */
@media(min-width:992px) {

    /** lesson Section */
    .lesson {
        flex-direction: row;
    }

    .lesson>div:first-child {
        width: 75%;
        margin-right: 30px;
    }

    .lesson>div:last-child {
        width: 25%;
    }

    .views,
    .data>p:first-child>span {
        font-size: var(--fs-laptop-12);
    }

    .desc,
    .total-comments,
    .give-comment>form>div>button,
    .data>p:first-child {
        font-size: var(--fs-laptop-14);
    }

    .add-lesson-btn>button,
    .give-comment>form>input {
        font-size: var(--fs-laptop-16);
    }

    .give-comment>img,
    .list-comment>div>img {
        width: 35px;
    }

    .give-comment>form>div>button:first-child {
        right: 90px;
    }

    .data>p:last-child {
        font-size: var(--fs-laptop-15);
    }

    .swiper-backface-hidden .swiper-slide {
        width: 100% !important;
    }

    .swiper-wrapper {
        cursor: auto !important;
        flex-direction: column;
    }

    .swiper-wrapper>button {
        margin-bottom: 20px;
    }

    .swiper-wrapper>button:last-child {
        margin-bottom: 0;
    }

    .card>p {
        font-size: var(--fs-laptop-18);
    }

    .card>div>p {
        font-size: var(--fs-laptop-12);
    }

    .swiper-slide {
        width: 100% !important;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }

    /** ----------- */
}

/** ----------- */

/** At 1200px Viewport */
@media(min-width:1200px) {
    /* ----------------------------------------------- */
    /** || Reusable Styles */
    /* ----------------------------------------------- */

    h1 {
        font-size: var(--fs-laptop-20);
    }

    h2 {
        font-size: var(--fs-laptop-23);
    }

    h3 {
        font-size: var(--fs-laptop-23);
    }

    /** lesson Section */
    .lesson {
        flex-direction: row;
    }

    .lesson>div:first-child {
        width: 80%;
        margin-right: 30px;
    }

    .lesson>div:last-child {
        width: 20%;
    }

    iframe {
        height: 500px;
    }

    .views,
    .data>p:first-child>span {
        font-size: var(--fs-laptop-12);
    }

    .desc,
    .total-comments,
    .give-comment>form>div>button,
    .data>p:first-child {
        font-size: var(--fs-laptop-14);
    }

    .add-lesson-btn>button,
    .give-comment>form>input {
        font-size: var(--fs-laptop-16);
    }

    .give-comment>img,
    .list-comment>div>img {
        width: 35px;
    }

    .give-comment>form>div>button:first-child {
        right: 90px;
    }

    .data>p:last-child {
        font-size: var(--fs-laptop-15);
    }

    .swiper-backface-hidden .swiper-slide {
        width: 100% !important;
    }

    .swiper-wrapper {
        cursor: auto !important;
        flex-direction: column;
    }

    .swiper-wrapper>button {
        margin-bottom: 20px;
    }

    .swiper-wrapper>button:last-child {
        margin-bottom: 0;
    }

    .card>p {
        font-size: var(--fs-laptop-18);
    }

    .card>div>p {
        font-size: var(--fs-laptop-12);
    }

    /** ----------- */
}

/** ----------- */

/** At 1600px Viewport */
@media(min-width:1600px) {

    /** lesson Section */
    iframe {
        height: 700px;
    }

    .lesson>div:first-child {
        width: 85%;
    }

    .lesson>div:last-child {
        width: 15%;
    }

    /** ----------- */
}

/** ----------- */